

<form method="POST" action="/quizzes/<%= quiz.id %>/points">

    <div class="wideRow">

        <span class="itemNarrow">A침adir valoraci칩n:</span>

    <input type="text" class="itemWide" id="points" name="puntuacion" value="" placeholder="Puntuacion (1-10)" autocomplete="off" />

    <button type="submit" class="itemNarrow">A침adir puntuaci칩n</button>
    </div>

</form>