<h1>
        Ranking de usuario
    </h1>
    
    <table>
        <% for (var i in users) { %>
        <tr>
            <td>
                <a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
                <%= users[i].isAdmin ? "(admin)" : "" %>
            <%= users[i].puntUser%>
            </td>
    
    
        </tr>
        
        <%  } %>
    </table>
    
    <% if (session.user) { %>
        <a href="/users/new"><button type="button">Create new user</button></a>
    <%  } %>
    