<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        if (!pw1 || !pw2) {
            alert('Password and Confirmation fields must be filled in.');
            return false;
        }

        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }
</script>


<ul>
    <li>
        <% if ( !user.id) { %>
        <label for="preg" class="rem">User name:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off"/>
        <% } else { %>
        Username: <%= user.username %>
        <% } %>
    </li>

    <li>
        <label for="user_password" class="rem">Password:</label>
        <input type="password" id="user_password" name="password" autocomplete="off"/>
    </li>

    <li>
        <label for="user_confirm_password" class="rem">Confirm Password:</label>
        <input type="password" id="user_confirm_password" autocomplete="off"/>

    </li>

    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528825974/core/quiz2018/attachments/myAvatar_1.png" width="50" />
    Avatar: 1
    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528825532/core/quiz2018/attachments/myAvatar.png" width="50" />
    Avatar: 2
    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528903885/core/quiz2018/attachments/ojosazules.png" width="50" />
    Avatar: 3
    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528825532/core/quiz2018/attachments/chulito.png" width="50" />
    Avatar: 4
    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528825532/core/quiz2018/attachments/morena.png" width="50" />
    Avatar: 5
    <img src="http://res.cloudinary.com/dkwqbsyid/image/upload/v1528825532/core/quiz2018/attachments/anime.png" width="50" />
    Avatar: 6

    <li>
        <label for="avatar" class="rem">Seleccionar un avatar. Avatar:</label>
        <input type="text" id="user_avatar" name="avatarId" autocomplete="off"/>

    </li>
</ul>

<div>
    <a href="/goback"><button type="button">Cancel</button></a>
</div>

<div>
    <input type="submit" value="Save" onclick="return confirmPassword()">
</div>
