
<div class="wideRow">
    <label for="preg"  class="itemNarrow">Nombre de la película:</label>
    <input type="text" class="itemWide" id="preg" name="name" value="<%= film.name %>" placeholder="Nombre" autocomplete="off"/>
    </div>
    
    
    <div class="wideRow">
    <label for="resp"  class="itemNarrow">Director de la película:</label>
    <input type="text" class="itemWide" id="resp" name="director" value="<%= film.director %>" placeholder="Director" autocomplete="off"/>
    </div>
    
    <div class="wideRow">
    <label for="resp"  class="itemNarrow">Categoría:</label>
    <input type="text" class="itemWide" id="resp" name="category" value="<%= film.category %>" placeholder="Categoría" autocomplete="off"/>
    </div>
    
    <br/>
    <a href="/films"><button type="button">Cancel</button></a>
    
    <input type="submit" value="Save">