
<h1>
    Mostrando info de película:
</h1>

<ul>
    <li>Nombre de la película: <b><%= film.name %></b></li>
    <li>Director: <b><%= film.director %></b></li>
    <li>Categoría: <b><%= film.category %></b></li>

</ul>
