<h1>
    Preguntas especiales sobre películas:
</h1>

<div class="quizItem">

    <div>
        <% var attachment = film.attachment; %>
        <% include ../attachments/_show %>
    </div>

    <div>
        <br/>
        Question: <b><%= film.question %></b>
        <br />
        Answer: <b><%= film.answer %></b>
        <br />
    </div>

</div>


<a href="/films"><button>Go back</button></a>


